<div id="<%= dom_id friend %>" class="row">

  <div class="col-md-2" >

    <p>

      <strong>First name:</strong>

    </p>

    <p>

      <%= friend.first_name %>

    </p>

  </div>




  <div class="col-md-2">

    <p>

      <strong>Last name:</strong>

    </p>

    <p>

      <%= friend.last_name %>

    </p>

  </div>




  <div class="col-md-2">

    <p>

      <strong>Email:</strong>

    </p>

    <p>

      <%= friend.email %>

    </p>

  </div>




  <div class="col-md-2">

    <p>

      <strong>Phone:</strong>

    </p>

    <p>

      <%= friend.phone %>

    </p>

  </div>




  <div class="col-md-2">

    <p>

      <strong>Facebook:</strong>
         </p>
            <p>
      <%= friend.facebook %>

    </p>



  </div>

</div>

