<%# <h1>Friend List</h1> %>

<% if user_signed_in? %>

<table class="table table-danger table-striped table-bordered table-hover">
  <thead class="thead-danger">
    <tr>
      <th>Name</th>
      
      <th>Email</th>
      <th>Phone</th>
      <th>Facebook</th>
      <th>User Id</th>

      <%# <th>Show Friends</th> %>
      <th>Destroy Friends</th>
    </tr>
  </thead>
  <tbody class="table-dark">
    <% @friends.each do |friend| %>
     <% if friend.user == current_user%> 

      <tr>
        <td><%= link_to friend.first_name  + ' ' + friend.last_name, friend %> </td>  

        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.facebook %></td>
        <td><%= friend.user_id %></td>
        <%# <td><%= link_to "Show", friend, class: "btn btn-outline-info"</td>  %>
     
        <td><%= button_to "Delete", friend, method: :delete,data: {confirm: 'Are you Sure?'}, data: { confirm: "Are you sure you want to delete this friend?" } , class: "btn btn-outline-danger" %></td>
  
      </tr>
  <% end %> 

    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class: "btn btn-primary" %>

<%else%>

<h1>Hello Friends App</h1>
<p>
This is a Intro Page For This Application 
</p>

<% end %>
